{% extends 'base.html' %}

{% block content %}
<style type="text/css">
#id_name {
	width: 99.6%;
}
#id_submit{
	width: 100%;
}
#id_delete{
	width: 5%;
}
</style>

<body>
	<h1>New task</h1>
	<form method="POST" class="post-form">{% csrf_token %}
		{{ form.as_p }}
		<button type="submit" id="id_submit">Save</button>
	</form>
	
	<hr>
	
	<form method="post">
		{% csrf_token %}
		{% for task in tasks %}
			<p>
			{% if task.done %}
				<input type="checkbox" checked>
			{% else %}
				<input type="checkbox" >
			{% endif %}

			<input style='width:90%' type="text" value="{{ task }}" onChange="return location.href = '{% url 'delete' pk=task.pk %}'">
			<a href="{% url 'delete' pk=task.pk %}" id="id_delete">Delete</a>
			</p>

		{% endfor %}
	</form>
</body>
{% endblock %}