{% extends 'base.html' %}

{% block content %}
<form method="post">
    {% csrf_token %}
	{% for task in tasks %}
		<p>
		{% if task.done %}
			<input type="checkbox" id="" checked>
		{% else %}
			<input type="checkbox" id="">
		{% endif %}
		<input style='width:95%' type="text" id="" value={{ task }} disabled>
		</p>
    {% endfor %}
</form>

    <h1>New post</h1>
    <form method="POST" class="post-form">{% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="save btn btn-default">Save</button>
    </form>
{% endblock %}